body{
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background: #23272E;
    color:white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.cronometro{
  overflow: hidden;
    width:550px;
    /* background: red; */
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "tiempo     tiempo    tiempo"
    "item-start item-stop item-reiniciar";
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 2em;
    gap: 10px 15px;
}


.start{
  grid-area: item-start;
  background-image: radial-gradient(100% 100% at 100% 0, #5af1ff 0, #3fa841 100%);
}

.start:hover{
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #09683c 0 -3px 0 inset;
}

.stop{
  grid-area: item-stop;
  background-image: radial-gradient(100% 100% at 100% 0, #f69b62 0, #cc3030 100%);

}

.stop:hover{
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #753607 0 -3px 0 inset;
}
.reiniciar{
  grid-area: item-reiniciar;
   background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
}
.text-tiempo{
  font-size: 5rem;
  grid-area: tiempo;
  text-align: center;
}



/* CSS */
.boton {
  align-items: center;
  appearance: none;
 
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(22, 21, 22, 0.4) 0 2px 4px,rgba(36, 34, 42, 0.745) 0 7px 13px -3px,rgba(50, 54, 78, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}



.boton:hover {
  /* box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset; */
  transform: translateY(-2px);
}




