body{
    background: greenyellow;
}

.hamburger{
    border: 1px solid;
}
/* .test{
    width: 33.3%;
    height: 350px;
    background: url('ticket.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid red;
    padding: 10vh 0 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */