/*Header-1*/
.menu-1 #menu-1-2282f41 li:last-child{
	display:none;
}

/* Header-2 */
.menu-1 #menu-1-46eb0a3 li:last-child{
	display:none;
}


/*Carrousel*/
.gallery{
	margin:0px auto 0 auto;
}

.gallery-item img, .resi-gallery-container img {
	 width:100%;
	height:100%;
	object-fit:cover;
	object-position:bottom center;
}

.gallery-item, .resi-gallery-item {
		overflow:hidden;
	  width:450px;
		height:100%;
		max-height:260px;
		opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 0;
    background-size:contain;
}

/*Media 770px*/
@media(max-width:770px){
	.gallery-item, .resi-gallery-item{
		width:270px;
		max-height:200px
	}
}

.gallery-item-1, .resi-gallery-item-1 {
    left: 25%;
    opacity: 0.6;
    transform: translateX(-50%);
	border-radius: 25px;
}


.gallery-item-2, .resi-gallery-item-2 {
    box-shadow: -2px 5px 33px 6px rgb(0 0 0 / 35%);
    opacity: 1;
    left: 50%;
	transform:scale(1.2, 1.2) translate(-43%, -50px);
	
    border-radius: 25px;
    z-index: 2;
}

.gallery-item-3, .resi-gallery-item-3 {
    right: 25%;
    opacity: .6;
    transform: translateX(50%);
	border-radius: 25px;
}


@media(max-width:500px){
	.gallery-item , .resi-gallery-item{
		width:230px;
		height:50vh;
	}
	.gallery-item-1, .resi-gallery-item-1 {
			left: 0%;
			opacity: 0.6;
			transform: 		translateX(-50%);
	}
	
	.gallery-item-2, .resi-gallery-item-2 {
			left: 50%;
		transform:scale(1.2, 1.2) translate(-41%, -0px);
	}
	
	.gallery-item-3,.resi-gallery-item-3 {
			right: 0%;
			opacity: .6;
			transform: translateX(50%);
		border-radius: 25px;
	}
}

.gallery-controls button, .resi-gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
   outline: none;
    display:none;
}

.gallery-controls-button:focus, .resi-gallery-controls-button:focus {
    outline: none;
}

.gallery-controls-previous, .resi-gallery-controls-previous {
    position: relative;
}

.gallery-controls-previous:before, .resi-gallery-controls-previous:before {
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
   top: -10%;
    transform: rotate(135deg) translateY(-50%);
transition: left 0.15s ease-in-out;
   width: 5px;
}


.gallery-controls-next, .resi-gallery-controls-next{
	position: relative;
}

.gallery-controls-next:before,
.resi-gallery-controls-next:before{
	    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
   right: -30px;
   top: 40%;
    transform: rotate(-45deg) translateY(-50%);
transition: right 0.15s ease-in-out;
   width: 5px;
}

.gallery-nav, .resi-gallery-nav{

	bottom: -15px;
	list-style: none;
padding: 0;
position: absolute;
width: 100%
}

.gallery-nav li, .resi-gallery-nav li  {
	background: #ccc;
border-radius: 50%;
height: 10px;
margin: 0 16px;
width: 10px;

}

.gallery-nav li.gallery-item-selected, .resi-gallery-nav li.resi-gallery-item-selected{
	background: #555;
}



/*****Carrousel About******/

.gallery{
	margin:0px auto 0 auto;
	
}


.aboutgallery-item {

		overflow:hidden;
	  width:306px;
		height:500px;
		opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 0;

    background-size:contain;
}

.aboutgallery-item img {
	width:100%;
	height:100%;
	object-fit:cover;
	object-position:center;
}


/*Media 770px*/
@media(max-width:770px){
	.aboutgallery-item{
		width:270px;
	}
}


.aboutgallery-item-1 {
    right: 0%;
    opacity: 0.6;
    transform: translateX(0%); 
	border-radius: 25px;
	height:400px;
	z-index:1;
}


.aboutgallery-item-2 {
    box-shadow: -2px 5px 10px 3px rgb(0 0 0 / 20%);
    opacity: 1;
    right: 38%;
	transform:scale(1.1, 1.1) translate(0%, 0px);
    border-radius: 25px;
    z-index: 3;
}

.aboutgallery-item-3 {
    right:18%;
    opacity: .8;
    transform: translateX(0%);
	border-radius: 25px;
	z-index:2;
}


@media(max-width:500px){
	.aboutgallery-item{
		width:230px;
		height:55vh;
	}
	.aboutgallery-item-1 {
			left: 0%;
			opacity: 0.6;
			transform: 		translateX(-50%);
	}
	
	.aboutgallery-item-2 {
			left: 50%;
		transform:scale(1.2, 1.2) translate(-41%, -0px);
	}
	
	.aboutgallery-item-3 {
			right: 0%;
			opacity: .6;
			transform: translateX(50%);
		border-radius: 25px;
	}
}



.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
   outline: none;
    display:none;
}

.gallery-controls-button:focus {
    outline: none;
}

.gallery-controls-previous {
    position: relative;
}

.gallery-controls-previous:before {
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
   top: -10%;
    transform: rotate(135deg) translateY(-50%);
transition: left 0.15s ease-in-out;
   width: 5px;
}



.gallery-controls-next{
	position: relative;
}

.gallery-controls-next:before{
	    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
   right: -30px;
   top: 40%;
    transform: rotate(-45deg) translateY(-50%);
transition: right 0.15s ease-in-out;
   width: 5px;
}


.gallery-nav{

	bottom: -15px;
	list-style: none;
padding: 0;
position: absolute;
width: 100%
}


.gallery-nav li {
	background: #ccc;
border-radius: 50%;
height: 10px;
margin: 0 16px;
width: 10px;

}

.gallery-nav li.gallery-item-selected{
	background: #555;
}
